<div class="organize-recipes">
  <dl>
    <dt>Preferência</dt>
      <% @preferences.each do |preference| %>
        <dd><%= link_to preference.name, preference_path(preference.id) %></dd>
      <% end %>
  </dl>
  <dl>
    <dt>Tipo</dt>
      <% @descriptions.each do |description| %>
        <dd><%= link_to description.name, description_path(description.id) %></dd>
      <% end %>
  </dl>
  <dl>
    <dt>Cozinha</dt>
    <% @cuisines.each do |cuisine| %>
      <dd><%= link_to cuisine.name, cuisine_path(cuisine.id) %></dd>
    <% end %>
  </dl>
</div>

<div class="last-recipes">

  <h3>Ultimas receitas!</h3>
  <% @recipes.each do |recipe| %>
    <div class="floating-box">
        <div class="inside-floating-box">
          <%= image_tag(recipe.avatar) %>
        </div>
        <ul class="food-information">
            <li><%= recipe.name %></li>
            <li>Preparo: <%= recipe.preparation_time %></li>
            <li>Rendimento: <%= recipe.yield %></li>
            <li>Cozinha: <%= recipe.cuisine.name %></li>
            <li><%= link_to 'Ver mais!', recipe_path(recipe.id) %></li>
            <% if user_signed_in? && current_user.id == recipe.user.id %>
              <li><%= link_to 'Deletar', recipe, method: :delete, data: { confirm: 'Are you sure?' } %></li>
            <% end %>
        <ul>
    </div>
  <% end %>
</div>

<div class="favorite-recipes">
  <!-- <h3>Receitas favoritas!!</h3>
  <% @recipes.each do |recipe| %>
    <div class="floating-box">
        <div class="inside-floating-box">
          <%= image_tag(recipe.avatar) %>
        </div>
        <ul class="food-information">
            <li><%= recipe.name %></li>
            <li>Preparo: <%= recipe.preparation_time %></li>
            <li>Rendimento: <%= recipe.yield %></li>
            <li>Cozinha: <%= recipe.cuisine.name %></li>
            <li><%= link_to 'Ver mais!', action: 'show', id: recipe %></li>
            <li><%= link_to 'Deletar', recipe, method: :delete, data: { confirm: 'Are you sure?' } %></li>
        <ul>
    </div>
  <% end %> -->
</div>
