<h1>Receitas</h1>

<table>
  <tr>
    <th>Nome</th>
    <th>Redimento</th>
    <th>Tempo de preparo</th>
    <th>Foto</th>
    <th>Cozinha</th>
  </tr>
<% @recipes.each do |recipe| %>
  <tr>
    <td><%= recipe.name %></td>
    <td><%= recipe.yield %></td>
    <td><%= recipe.preparation_time %></td>
    <td><%= recipe.photo %></td>
    <td><%= recipe.cuisine.name %></td>
    <td><%= link_to 'Mostrar', action: 'show', id: recipe %></td>
    <td><%= link_to 'Deletar', recipe, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
<br/>
<%= link_to 'Novo', action: 'new' %>
