<div class="show-recipe">
  <ul class="recipe">
    <li><h2><%= @recipe.name %></h2></li>
    <li>Rendimento: <%= @recipe.yield %> porções</li>
    <li>Tempo de preparo: <%= @recipe.preparation_time %> minutos</li>
    <li>Dificuldade: <%= @recipe.difficulty.name %></li>
    <li>Cozinha: <%= @recipe.cuisine.name %></li>
    <li>Tipo: <%= @recipe.description.name %></li>
    <li>Preferencia: <%= @recipe.preference.name %></li>
  </ul>

  <ul class="recipe">
    <li><h2>Ingredientes</h2></li>
    <li><%= @recipe.ingredients %></li>
  </ul>
</div>

<div class="show-recipe">
    <%= image_tag(@recipe.avatar)%>
</div>

<div class="after-show-recipe">
  <ul class="recipe">
    <li><h2>Modo de preparo</h2></li>
    <li><%= @recipe.instructions %></li>
    <li><br/><%= link_to 'Editar receita', action: 'edit' %></li>
  </ul>


</div>
