<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="estilo/estilo.css">
    <link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <title>Cozinha de Guerrilha</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <nav>
      <ul class="nav-menu">
        <li><%= link_to 'Cozinha de Guerrilha!', root_path %></li>

        <% if user_signed_in? %>
          <div class="dropdown">
            <a href="#" class="dropbtn">Bem vindo <%= current_user.email %>!</a>
            <div class="dropdown-content" >
              <%= link_to 'Editar perfil', edit_user_registration_path, :class => 'navbar-link' %>
              <%= link_to "Sair", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
            </div>
          </div>

          <div class="dropdown">
            <a href="#" class="dropbtn">Menu</a>
            <div class="dropdown-content" >
              <a href="#">Minhas Receitas</a>
              <%= link_to 'Cadastrar Receitas', new_recipe_path %>
              <a href="#">Mensagens</a>
            </div>
          </div>

          <% if current_user.admin == true %>
            <div class="dropdown">
              <a href="#login" class="dropbtn">Painel de controle</a>
              <div class="dropdown-content" >
                <%= link_to "Cozinhas", cuisines_path, :class => 'navbar-link'  %>
                <%= link_to "Tipos de pratos", descriptions_path, :class => 'navbar-link'  %>
                <%= link_to "Preferência de pratos", preferences_path, :class => 'navbar-link'  %>
              </div>
            </div>
          <% end %>

        <% else %>
          <div class="dropdown">
            <a href="#login" class="dropbtn">Login</a>
            <div class="dropdown-content" >
              <%= link_to "Entrar", new_user_session_path, :class => 'navbar-link'  %>
              <%= link_to "Cadastrar", new_user_registration_path, :class => 'navbar-link'  %>
            </div>
          </div>
        <% end %>
        </ul>
    </nav>

    <article>
      <div class="content">
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
        <%= yield %>
      </div>
    </article>

    <footer>
      <div class="footer">
        <ul class="nav-menu">
         <li><a>Cozinha de Guerrilha</a></li>
         <li><a>Copyright 2016</a></li>
         <ul class="rodape" style="float:right;list-style-type:none;">
           <li><a>Facebook</a></li>
           <li><a>Twitter</a></li>
         </ul>
        </ul>
      </div>
    </footer>

  </body>
</html>
